<div class="filter">
    <h2 class="filter__title">Album</h2>
    
    <h3 class="filter__tiCate">Category</h3>
        <nav class="filter__listCate">
            <ul>
                <li>Female Group</li>
                <li>Male Group</li>
                <li>Solo</li>
            </ul>
        </nav>
    
    <h3 class="filter__ticompa">Company</h3>
     <nav class="filter__listCompa">
        <ul>
             <li>Ateam</li>
             <li>BigHit</li>
             <li>Cube Entertainmen</li>
             <li>Fantagio</li>
             <li>Jellyfish Entertainmen</li>
             <li>JYP Entertainmen</li>
             <li>Kakao M</li>
             <li>Konnect Entertainmen</li>
             <li>MNH Entertainmen</li>
             <li>Pledis Entertainmen</li>
             <li>SM Entertainmen</li>
             <li>Startship Entertainmen</li>
             <li>Victor Entertainmen</li>
             <li>YG Family</li>
         </ul>
     </nav>

    <h3 class="filter__tiDate">Date</h3>
    <nav class="filter__listDate">
         <ul>
             <li>2016</li>
             <li>2018</li>
             <li>2019</li>
             <li>2020</li>
        </ul>
     </nav>

</div>

{{#each products}}
    <div class="product">
        <img class="product__img" src="{{img}}" alt="">
        <h2 class="product__title">
            {{name}}
        </h2>
        <h4 class="product__group">
            {{nameG}}
        </h4>
        <h5 class="product__compa">
            {{company}}
        </h5>
        <h5 class="product__date">
            {{date}}
        </h5>
        <h3 class="product__price">
            $ {{price}}
        </h3>
        <button class="product__cart">ADD TO CART</button>
    </div>
{{/each}} 