<nav class="filter">

    <h2 class="filter__title">Album</h2>

    <h3 class="filter__tiCate">Category</h3>

            <ul class="filter__listCate">
                <li>Female Group</li>
                <li>Male Group</li>
                <li>Solo</li>
            </ul>
    
    <h3 class="filter__ticompa">Company</h3>

        <ul class="filter__listCompa">
             <li>Ateam</li>
             <li>BigHit</li>
             <li>Cube Entertainment</li>
             <li>Fantagio</li>
             <li>Jellyfish Entertainment</li>
             <li>JYP Entertainment</li>
             <li>Kakao M</li>
             <li>Konnect Entertainment</li>
             <li>MNH Entertainment</li>
             <li>Pledis Entertainment</li>
             <li>SM Entertainment</li>
             <li>Startship Entertainment</li>
             <li>Victor Entertainment</li>
             <li>YG Family</li>
         </ul>

    <h3 class="filter__tiDate">Date</h3>

         <ul class="filter__listDate">
             <li>2016</li>
             <li>2018</li>
             <li>2019</li>
             <li>2020</li>
        </ul>

</nav>


<section class="store">
<nav class="store__sort">
    Sort by:
    <select class="store__options">
        <option value="" disabled="true" selected="true">Select...</option>
        <option value="30000">Menor a $30.000</option>
        <option value="50000">Menor a $50.000</option>
    </select>
</nav> 
{{#each products}}
    <div class="product">
        <a href="/products/{{ name }}/{{@index}}">
        <img class="product__img" src="{{img}}" alt="">
        <h2 class="product__title">
            {{name}}
        </a>
        </h2>
        <p class="product__group">
            {{nameG}}
        </p>
        <p class="product__compa">
            {{company}}
        </p>
        <p class="product__date">
            {{date}}
        </p>
        <p class="product__price">
            $ {{price}}
        </p>
        <button class="product__cart">ADD TO CART</button>
    </div>
{{/each}} 
</section>

<div class="barNext">
        <p class="barNext__text"> << 1 2 3 >> </p>
    </div>


  <section class="NewsLetter">
        <h2 class="NewsLetter__title">JOIN THE MAILING LIST</h2>
        <input class="NewsLetter__box" type="text" placeholder="Write your email">
        <br>
        <img class="NewsLetter__img" src="./data/red.png" alt="Social media">
    </section>

<script src="/scripts/client.js"></script>