<nav class="filter">

    <h2 class="filter__title">Album</h2>

    <h3 class="filter__tiCate">Category</h3>

            <ul class="filter__listCate">
                <a class="filter__link" href=""><li>Female Group</li></a>
                <a class="filter__link" href=""><li>Male Group</li></a>
                <a class="filter__link" href=""><li>Solo</li></a>
            </ul>
    
    <h3 class="filter__ticompa">Company</h3>

             <ul class="filter__listCompa">
                 <a class="filter__link" href=""> <li>Ateam</li></a>
                 <a class="filter__link" href=""><li>BigHit Entertainment</li></a>
                 <a class="filter__link" href=""><li>Cube Entertainment</li></a>
                 <a class="filter__link" href=""><li>Fantagio</li></a>
                 <a class="filter__link" href=""><li>Jellyfish Entertainment</li></a>
                 <a class="filter__link" href=""><li>JYP Entertainment</li></a>
                 <a class="filter__link" href=""><li>Kakao M</li></a>
                 <a class="filter__link" href=""><li>Konnect Entertainment</li></a>
                 <a class="filter__link" href=""><li>MNH Entertainment</li></a>
                 <a class="filter__link" href=""><li>Pledis Entertainment</li></a>
                 <a class="filter__link" href=""><li>SM Entertainment</li></a>
                 <a class="filter__link" href=""><li>Startship Entertainment</li></a>
                 <a class="filter__link" href=""><li>Victor Entertainment</li></a>
                 <a class="filter__link" href=""><li>YG Entertainment</li></a>                
             </ul>

    <h3 class="filter__tiDate">Date</h3>

            <ul class="filter__listDate">
                <a class="filter__link" href=""><li>2016</li></a>
                <a class="filter__link" href=""><li>2018</li></a>
                <a class="filter__link" href=""><li>2019</li></a>
                <a class="filter__link" href=""><li>2020</li></a>
            </ul>
</nav>


<section class="store">
<nav class="store__sort">
    Sort by:
    <select class="store__options">
        <option value="" disabled="true" selected="true">Select...</option>
        <option value="name_az">Name, A to Z</option>
        <option value="price_asc">Price, Low to High</option>
        <option value="price_desc">Price, High to Low</option>
    </select>
</nav> 

{{#each products}}
    <div class="product">
        <a class="product__link" href="/products/{{ name }}/{{@index}}">
        <img class="product__img" src="{{img}}" alt="">
        <h2 class="product__title">
            {{name}}
        </a>
        </h2>
        <p class="product__group">
            {{nameG}}
        </p>
        <p class="product__compa">
            {{company}}
        </p>
        <p class="product__date">
            {{date}}
        </p>
        <p class="product__price">
            $ {{price}}
        </p>
        <button class="product__cart">ADD TO CART</button>
    </div>
{{/each}} 
</section>

<div class="barNext">
        <p class="barNext__text"> << 1 2 3 >> </p>
    </div>


  <section class="NewsLetter">
        <h2 class="NewsLetter__title">JOIN THE MAILING LIST</h2>
        <input class="NewsLetter__box" type="text" placeholder="Write your email">
        <br>
        <img class="NewsLetter__img" src="./data/red.png" alt="Social media">
    </section>

<script src="/scripts/client.js"></script>