<nav class="filter">
    <h2 class="filter__title">Album</h2>

    <h3 class="filter__tiCate">Category</h3>

            <ul class="filter__listCate">
                <li>Female Group</li>
                <li>Male Group</li>
                <li>Solo</li>
            </ul>
    
    <h3 class="filter__ticompa">Company</h3>

        <ul class="filter__listCompa">
             <li>Ateam</li>
             <li>BigHit</li>
             <li>Cube Entertainmen</li>
             <li>Fantagio</li>
             <li>Jellyfish Entertainmen</li>
             <li>JYP Entertainmen</li>
             <li>Kakao M</li>
             <li>Konnect Entertainmen</li>
             <li>MNH Entertainmen</li>
             <li>Pledis Entertainmen</li>
             <li>SM Entertainmen</li>
             <li>Startship Entertainmen</li>
             <li>Victor Entertainmen</li>
             <li>YG Family</li>
         </ul>

    <h3 class="filter__tiDate">Date</h3>

         <ul class="filter__listDate">
             <li>2016</li>
             <li>2018</li>
             <li>2019</li>
             <li>2020</li>
        </ul>

</nav>

{{#each products}}
    <div class="product">
        <img class="product__img" src="{{img}}" alt="">
        <h2 class="product__title">
            {{name}}
        </h2>
        <h4 class="product__group">
            {{nameG}}
        </h4>
        <h5 class="product__compa">
            {{company}}
        </h5>
        <h5 class="product__date">
            {{date}}
        </h5>
        <h3 class="product__price">
            $ {{price}}
        </h3>
        <button class="product__cart">ADD TO CART</button>
    </div>
{{/each}} 

  <section class="NewsLetter">
        <h2 class="NewsLetter__title">JOIN THE MAILING LIST</h2>
        <input class="NewsLetter__box" type="text" placeholder="Write your email">
        <br>
        <img class="NewsLetter__img" src="./data/red.png" alt="Social media">
    </section>