<section class="info">
    <img class="info__img" src="{{imgDes}}" alt="">
    <h2 class="info__title" >{{name}}</h2>
    <p class="info__subTitle" >{{miniTitle}}</p>
    <p class="info__price" >$ {{price}}</p>
    <p class="info__intro" >{{intro}}</p>
    <div class="info__btn" >
    <button class="info__btnC" >ADD TO CART</button>
    <button class="info__btnB" >BUY IT NOW</button>
    </div>
</section>

<img class="infoimg" src="{{imgSell}}" alt="">
