<section>
    <img src="{{imgDes}}" alt="">
    <h2>{{name}}</h2>
    <p>{{miniTitle}}</p>
    <p>$ {{price}}</p>
    <p>{{intro}}</p>
    <button>ADD TO CART</button>
    <button>BUY IT NOW</button>
</section>

<img src="{{imgSell}}" alt="">
